.u-section-1 .u-sheet-1 {
  min-height: 1211px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 837px;
  height: 1012px;
  margin: 60px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 1012px;
  height: 837px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 773px;
  margin: -888px auto 175px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  margin: 4px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 615px;
  width: 542px;
  margin: 9px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 7px 170px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.125rem;
  margin: -29px auto 0 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-rotation-parent-1 {
    height: 1011px;
  }

  .u-section-1 .u-shape-1 {
    width: 1011px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 753px;
  }

  .u-section-1 .u-shape-1 {
    width: 870px;
    height: 720px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -630px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 573px;
  }

  .u-section-1 .u-shape-1 {
    width: 653px;
    height: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -450px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 373px;
  }

  .u-section-1 .u-shape-1 {
    width: 411px;
    height: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -250px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}